/* Additional CSS for new sections */

.logo-container {
    text-align: center;
    margin-bottom: 40px;
    
  }
  
  .logo {
    max-width: 200px;
    height: auto;
  }
  .main{
    padding: 50px 20px;
    /* background: linear-gradient(135deg, #a6f1a6, #2c3e50); */
    text-align: center;
    min-height: 100vh;
    margin-top: 100px;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
  }
  
  .google-form-link-container {
    margin: 40px auto;
    text-align: center;
    max-width: 900px;
  }
  
  .google-form-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .google-form-description {
    font-size: 1.2em;
    color: gray;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .google-form-link {
    font-size: 1.2em;
    color: #1f4e79;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .google-form-link:hover {
    color: #0f3b5a; /* Darker blue on hover */
  }
  span{
    font-size: xx-large;
    color: linear-gradient(135deg, #a6f1a6, #2c3e50);;
  }